body {
  color: #888888;
  font-family: Verdana,Arial,Helvetica, sans-serif;
}

img { 
    border: 0; 
}

table.main { 
    width:640; 
    height:480; 
}

.title1 {
    color: #ff8000;
    font-size: 14pt;
    font-weight : bold;
}

.title2 {
    color: #AAAAAA;
    font-size: 13pt;
    font-weight: bold;
}

.title3 {
    color: #AAAAAA;
    font-size: 11pt;
    font-weight: bold;
}

.normal {
    color: #888888;
    font-size: 10pt;
    font-weight: bold;
}

.firstMovie {
    color: #4444FF;
    font-size: 10pt;
    font-weight: bold;
}

a { 
    color: #AAAAAA; 
    text-decoration: none; 
}

tr.divider {
    background-color: #AAAAAA;
    height: 1px;
}

tr.spacer { height: 6px; }