body{ color: #8F8F8F; }
a { text-decoration: none; white-space: nowrap; color: #AAAAAA; }
img { border: 0; }
hr { width: 300px; }

table.categories {
  padding-top: 30px;
  font-size: 16pt;
  font-weight: bold;
}
table.categories th { font-size:22pt; color: #ff8000; text-align: left; }
table.categories th.title { font-size:28pt; text-align: center; }

.group { font-size: 24pt; font-weight: bold; }

table.navigation{ font-size: 16pt; font-weight: bold; }
table.navigation td.current { text-decoration: underline; }

#title { font-size: 18pt; }

tr.spacer { height: 12px; }
tr.separator { height: 1px; background-color: #DAA520; }
