td#title { font-size: 18pt; color: #AAAAAA; }
div.title{ visibility:hidden; }
div.counter {font-size: 15pt; color: #AAAAAA; }

body { font-size: 10pt; color: #AAAAAA; text-decoration: none; }
a { font-size: 18pt; color: #AAAAAA; text-decoration: none; }
img { border: 0; }
table.main { width:1090; height:626; }
table.categories { width:180; }
td { text-decoration: none;}
td.movies { padding-right: 10px;}
