body {
  color: #888888;
  font-family: Verdana,Arial,Helvetica, sans-serif;
  font-size:normal;
}

img { 
    border: 0; 
}

table.main { 
    width:640; 
    height:480; 
}

.title1 {
    color: #ff8000;
    font-size: 16pt;
    font-weight : bold;
}

.title2 {
    color: #AAAAAA;
    font-size: 12pt;
    font-weight: bold;
}

.title3 {
    color: #AAAAAA;
    font-size: 12pt;
    font-weight: bold;
}

.normal {
    color: #888888;
    font-size: 12pt;
    font-weight: bold;
}

.firstMovie {
    color: #4444FF;
    font-size: 12pt;
    font-weight: bold;
}

a { 
    font-size: 12pt; 
    color: #AAAAAA; 
    text-decoration: none; 
}
