body { font-size: 10pt; color: #AAAAAA; text-decoration: none; }
a { font-size: 18pt; color: #AAAAAA; text-decoration: none; }
img { border: 0; }
table.main { width:1100; height:656; }
table.categories { width:180; }
td { text-decoration: none;}
td.movies { width: 270; padding-right: 10px;}
