body {
  color: #888888;
  font-family: Verdana,Arial,Helvetica, sans-serif;
  font-size:normal;
}

table.main { width:1100; height:656; }

.title1 {
    color: #ff8000;
    font-size: 28pt;
    font-weight : bold;
}

.title2 {
    color: #AAAAAA;
    font-size: 16pt;
    font-weight: bold;
}

.title3 {
    color: #AAAAAA;
    font-size: 14pt;
    font-weight: bold;
}

.normal {
    color: #888888;
    font-size: 14pt;
    font-weight: normal;
}

.firstMovie {
    color: #4444FF;
    font-size: 14pt;
    font-weight: bold;
}